---
import Layout from "../layouts/Layout.astro";
---

<Layout showLegal={false}>
  <div
    class="max-w-[400px] mx-auto bg-white p-5 rounded-sm flex flex-col gap-2"
  >
    <p class="font-bold text-xl mb-8 mt-2">Aviso Legal</p>
    <p class="text-sm">
      Bienvenido/a a la web de SERRANOS 3D DENTAL STUDIO S.L. Por favor, lea
      atentamente los siguientes términos y condiciones antes de utilizar este
      sitio web. Al acceder y utilizar este sitio web, usted acepta estar sujeto
      a estos términos y condiciones. Si no está de acuerdo con estos términos,
      por favor absténgase de utilizar este sitio.
    </p>

    <h2 class="font-medium">1. Identificación del titular del sitio web:</h2>

    <p class="text-sm">
      SERRANOS 3D DENTAL STUDIO S.L<br />
      CIF: B56913833<br />
      Domicilio social: SAGUNTO 1 PUERTA 2, VALENCIA 46009<br />

      <h2 class="font-medium">2. Propiedad intelectual e industrial:</h2>

      <p class="text-sm">
        Todos los contenidos de este sitio web, incluyendo, pero no limitándose
        a, textos, imágenes, gráficos, logotipos, iconos, archivos de audio y
        video, son propiedad exclusiva de SERRANOS 3D DENTAL STUDIO S.L o de sus
        proveedores de contenido, y están protegidos por las leyes de propiedad
        intelectual e industrial españolas e internacionales.
      </p>

      <p class="text-sm">
        Queda prohibida la reproducción, distribución, comunicación pública y
        transformación de dichos contenidos sin la autorización expresa de
        SERRANOS 3D DENTAL STUDIO S.L.
      </p>

      <h2 class="font-medium">3. Enlaces externos:</h2>

      <p class="text-sm">
        Este sitio web puede contener enlaces a sitios web externos, los cuales
        son proporcionados únicamente para su conveniencia. SERRANOS 3D DENTAL
        STUDIO S.L no se responsabiliza por el contenido, políticas de
        privacidad o prácticas de seguridad de dichos sitios web externos.
      </p>

      <h2 class="font-medium">4. Protección de datos personales:</h2>

      <p class="text-sm">
        Los datos personales que nos proporcione a través de este sitio web
        serán tratados de acuerdo con nuestra política de privacidad, la cual
        puede consultar en el siguiente enlace: <a href="#privacidad"
          >Política de Privacidad</a
        >.
      </p>

      <h2 class="font-medium">5. Modificaciones:</h2>

      <p class="text-sm">
        SERRANOS 3D DENTAL STUDIO S.L se reserva el derecho de modificar,
        suspender o cancelar, total o parcialmente, este sitio web y/o sus
        términos y condiciones en cualquier momento y sin previo aviso.
      </p>

      <h2 class="font-medium">6. Legislación aplicable y jurisdicción:</h2>

      <p class="text-sm">
        Estos términos y condiciones se regirán e interpretarán de acuerdo con
        la legislación española. Cualquier disputa que surja en relación con
        este sitio web estará sujeta a la jurisdicción exclusiva de los juzgados
        y tribunales de Valencia.
      </p>

      <p class="font-bold text-xl" id="privacidad">Política de Privacidad</p>

      <h2 class="font-medium">1. Responsable del tratamiento:</h2>

      <p class="text-sm">
        El responsable del tratamiento de los datos personales recogidos a
        través de este sitio web es SERRANOS 3D DENTAL STUDIO S.L, con domicilio
        social en SAGUNTO 1 PUERTA 2, VALENCIA 46009.
      </p>

      <h2 class="font-medium">2. Finalidad del tratamiento:</h2>

      <p class="text-sm">
        Los datos personales que nos proporcione a través del formulario de
        contacto de este sitio web serán utilizados únicamente para gestionar su
        solicitud de contacto y/o consulta. No utilizaremos sus datos personales
        para fines distintos a los indicados sin su consentimiento previo.
      </p>

      <h2 class="font-medium">3. Base legal del tratamiento:</h2>

      <p class="text-sm">
        La base legal para el tratamiento de sus datos personales es su
        consentimiento, el cual nos proporciona al enviar el formulario de
        contacto.
      </p>

      <h2 class="font-medium">4. Destinatarios de los datos:</h2>

      <p class="text-sm">
        Sus datos personales no serán compartidos con terceros, salvo obligación
        legal o consentimiento expreso por su parte.
      </p>

      <h2 class="font-medium">5. Conservación de los datos:</h2>

      <p class="text-sm">
        Los datos personales proporcionados a través del formulario de contacto
        se conservarán durante el tiempo necesario para gestionar su solicitud
        y/o consulta.
      </p>

      <h2 class="font-medium">6. Derechos de los interesados:</h2>

      <p class="text-sm">
        En cualquier momento, usted tiene derecho a acceder, rectificar,
        cancelar y oponerse al tratamiento de sus datos personales, así como a
        solicitar la portabilidad de los mismos. Para ejercer estos derechos,
        por favor póngase en contacto con nosotros a través de los datos de
        contacto indicados en la sección "1. Responsable del tratamiento".
      </p>
    </p>
  </div>
</Layout>
