---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Юридическая информация" showLegal={false}>
    <div
        class="max-w-[400px] mx-auto bg-white p-5 rounded-sm flex flex-col gap-2"
    >
        <p class="font-bold text-xl mb-8 mt-2">Юридическая информация</p>

        <p class="text-sm">
            Добро пожаловать на сайт SERRANOS 3D DENTAL STUDIO S.L. Пожалуйста
            внимательно ознакомьтесь с условиями использования данного
            веб-сайта.
        </p>

        <h2 class="font-medium">1. Владелец сайта</h2>

        <p class="text-sm">
            SERRANOS 3D DENTAL STUDIO S.L<br />
            CIF: B56913833<br />
            Юридический адрес: SAGUNTO 1 PUERTA 2, VALENCIA 46009
        </p>

        <h2 class="font-medium">2. Интеллектуальная собственность</h2>

        <p class="text-sm">
            Все материалы сайта (тексты, изображения, графика, логотипы и другие
            элементы) являются собственностью SERRANOS 3D DENTAL STUDIO S.L и
            защищены законодательством об авторских правах.
        </p>

        <h2 class="font-medium">3. Внешние ссылки</h2>

        <p class="text-sm">
            Сайт может содержать ссылки на сторонние ресурсы. Компания не несёт
            ответственности за содержание таких сайтов.
        </p>

        <h2 class="font-medium">4. Защита персональных данных</h2>

        <p class="text-sm">
            Персональные данные обрабатываются в соответствии с нашей
            <a href="/ru/privacy#privacidad" class="underline text-blue-600">
                Политикой конфиденциальности
            </a>.
        </p>

        <h2 class="font-medium">5. Изменения</h2>

        <p class="text-sm">
            Компания оставляет за собой право изменять содержимое сайта и
            условия использования без предварительного уведомления.
        </p>

        <h2 class="font-medium">6. Применимое право</h2>

        <p class="text-sm">
            Данные условия регулируются законодательством Испании. Все споры
            рассматриваются судами города Валенсия.
        </p>

        <p class="text-sm text-gray-500 mt-4">
            Последнее обновление: Март 2026
        </p>
    </div>
</Layout>
