---
const { lang = "ES" } = Astro.props;
import Title from "./Title.astro";

const data = {
    ES: {
        title: "¿Qué estás esperando?",
        text1: "No permitas que el miedo o la indecisión te impidan alcanzar la sonrisa que siempre has deseado.",
        text2: "¡Contáctanos hoy mismo para programar una consulta y dar el primer paso hacia una sonrisa más saludable y hermosa!",
    },

    EN: {
        title: "What are you waiting for?",
        text1: "Don't let fear or indecision stop you from achieving the smile you have always wanted.",
        text2: "Contact us today to schedule a consultation and take the first step toward a healthier and more beautiful smile!",
    },

    RU: {
        title: "Чего вы ждёте?",
        text1: "Не позволяйте страху или сомнениям мешать вам обрести улыбку, о которой вы всегда мечтали.",
        text2: "Свяжитесь с нами сегодня, чтобы записаться на консультацию и сделать первый шаг к более здоровой и красивой улыбке!",
    },
};

const t = data[lang] ?? data.ES;
---

<section id="contacto" class="pt-20" data-aos="fade-up">
    <Title extraClasses="mb-10 px-10" title={t.title} />

    <p class="text-center mb-5 px-10 md:max-w-[600px] mx-auto">
        {t.text1}
    </p>

    <p class="font-bold text-md text-center px-10 md:max-w-[700px] mx-auto">
        {t.text2}
    </p>

    <div class="flex justify-center mt-10 px-10">
        <a
            href="https://www.instagram.com/clinicadentalserranos/"
            class="fa-brands fa-instagram text-[var(--main-color)] mr-4 text-5xl"
        ></a>
        <a
            href="https://wa.me/message/R5MXKI5CQE23F1"
            target="_blank"
            class="fa-brands fa-whatsapp text-[var(--main-color)] text-5xl"></a>
    </div>

    <div class="bg-[var(--main-color)] h-full pb-20 rounded-t-[25px]">
        <div
            class="h-[330px] md:h-[500px] overflow-hidden rounded-[25px] bg-gray-600 mt-20 flex justify-center items-center"
        >
            <iframe
                class="h-full w-screen"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12317.774512279668!2d-0.3752216!3d39.4818962!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604895ea631a8d%3A0x6358d0e1dcd9f492!2sCl%C3%ADnica%20Dental%20Serranos!5e0!3m2!1ses!2sar!4v1713497921283!5m2!1ses!2sar"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
