---
import ProcedurePost from "./ProcedurePost.astro";
---

<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <ProcedurePost
        title="Procedimiento"
        description="Una descripcion del procedimiento realizado"
      />
    </div>
    <div class="swiper-slide">
      <ProcedurePost
        title="Procedimiento"
        description="Una descripcion del procedimiento realizado"
      />
    </div>
    <div class="swiper-slide">
      <ProcedurePost
        title="Procedimiento"
        description="Una descripcion del procedimiento realizado"
      />
    </div>
  </div>
</div>

<!-- Initialize Swiper -->
<script>
  //this error should be ignored, its a editor thing
  import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";

  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 10,
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
    breakpoints: {
      640: {
        slidesPerView: 1,
        spaceBetween: 20,
      },
      767: {
        slidesPerView: 2,
        spaceBetween: 10,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 50,
      },
    },
  });
</script>
<style>
  @import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");
  div.swiper {
    cursor: grab;
    margin-top: 70px;
    height: 100%;
    background: transparent;
    padding: 0 30px;
  }

  .swiper {
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
