---
const { title, extraClasses, lightMode } = Astro.props;
---

<div class={extraClasses}>
  <h2
    class={`font-[600] ${!lightMode ? "text-[var(--main-color)]" : "text-white"} text-center pb-3 text-xl`}
  >
    {title}
  </h2>
  <div
    class={`rounded-full w-[55px] h-[7px] ${lightMode ? "bg-white" : "bg-[var(--main-color)]"} mx-auto`}
  >
  </div>
</div>
